<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebase Labs</title>

    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <h1 class="text-center">Lista de Exames Médicos</h1>

    <div id="forms-wrapper">
      <form id="upload-form">
        <label id="file-upload-label" for="file">Selecione um arquivo</label>
        <input hidden id="file" type="file" accept="text/csv" />

        <div id="checkbox-overwrite-wrapper">
          <label for="overwrite-checkbox">Sobrescrever?</label>

          &nbsp;

          <div id="overwrite-options-wrapper">
            <label class="overwrite-option selected" data-value="unchecked">NÃO</label>
            <label class="overwrite-option" data-value="checked">SIM</label>
          </div>

          <input hidden type="checkbox" id="overwrite-checkbox"/>
        </div>

        <button id="upload-button" type="button">Enviar</button>
      </form>

      <div id="alert"></div>

      <form id="search-form">
        <input id="search-input" type="text" placeholder="Busque exames através do TOKEN"/>
        <button id="search-button" type="button">Buscar</button>
      </form>
    </div>

    <table id="exams-table">
      <thead>
        <tr>
          <th colspan="3" class="info"><h3>Paciente</h3></th>
          <th colspan="3" class="info"><h3>Médico</h3></th>
          <th colspan="5" class="info"><h3>Exame</h3></th>
        </tr>

        <tr>
          <th class="info">Nome</th>
          <th class="info">CPF</th>
          <th class="info">Nascimento</th>
          <th class="info">Nome</th>
          <th class="info">CRM</th>
          <th class="info">E-mail</th>
          <th class="info">Data</th>
          <th class="info">Tipo</th>
          <th class="info">Limites</th>
          <th class="info">Resultado</th>
          <th class="info">Token</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="11" class="text-center">Nenhum registro para ser exibido!</td>
        </tr>
      </tbody>
    </table>

    <div id="paginator">
      <button title="Voltar para o início" id="go-to-first-page-button" class="hidden"><<</button>
      <button title="Voltar para a página anterior" id="go-to-previous-page-button"><</button>
      <button title="Ir para a próxima página" id="go-to-next-page-button">></button>
      <select id="items-per-page-select">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
        <option>200</option>
        <option>300</option>
        <option>500</option>
        <option selected>1000</option>
        <option>2000</option>
        <option>3000</option>
        <option>5000</option>
        <option>10000</option>
      </select>
    </div>

    <script src="/static/js/main.js"></script>
  </body>
</html>
