
body {
  background-color: lightcyan;
}

table {
  width: 100%;
}

.info {
  background-color: #2BCEE0;
}

.even {
  background-color: lightcyan;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

#search-form {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
}

#search-input {
  height: 30px;
  width: 20vw;
}

#search-button {
  margin-left: 10px;
  cursor: pointer;
}
