
body {
  background-color: lightcyan;
}

table {
  width: 100%;
}

.info {
  background-color: #2BCEE0;
}

.even {
  background-color: lightcyan;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

form {
  display: flex;
  margin: 10px;
}

input[type="text"] {
  height: 30px;
  width: 20vw;
}

button {
  margin-left: 10px;
  cursor: pointer;
}

#forms-wrapper {
  display: flex;
  justify-content: space-between;
}
